.container{
  width: 400px;
  min-width: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.button{
  margin-top: 5px;
  width: 380px;
  padding: 10px;
  background-color: rgba(40, 210, 208, 1);
  color: white;
  border: 0;
  border-radius: 5px;
}