.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  width: 320px;
  min-height: 100px;
  background-color: white;
  border-radius: 5px;
}
input{
  padding: 10px;
}
