.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  width: 320px;
  min-height: 100px;
  background-color: rgba(62, 169, 245, 1);
  border-radius: 5px;
}
input{
  padding: 12px;
}
