.container {
   min-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signUp{
  background-color:  rgba(62, 169, 245, 1);
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  top: -120px;
  left: 200px;

}

a{
  color: white;
  text-decoration: none;
}

.home{
  background-color:  rgba(62, 169, 245, 1);
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  top: -120px;
  left: -200px;
}